.desktop-1,
.desktop-1 * {
  box-sizing: border-box;
}
.desktop-1 {
  background: #ebcbcb;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.frame-1 {
  width: 1440px;
  height: 1024px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.professor-paul-t-shapiro {
  color: #000000;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 80px;
  top: 334px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.semester-details-spring-2025 {
  color: #000000;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 80px;
  top: 456px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.teaching-assistants-bharath-sreekumar-caifu-lin-sumanth-devara {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 80px;
  top: 395px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.bmgt-407-is-the-capstone-course-for-information-systems-is-majors {
  color: #000000;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 80px;
  top: 273px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bmgt-407-information-systems-projects {
  color: #000000;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 36px;
  font-weight: 600;
  position: absolute;
  left: 80px;
  top: 197px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 1209px;
  top: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 1001px;
  top: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homepage {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 700px;
  top: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bmgt-407 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 19px;
  top: 14px;
  width: 278px;
  height: 134px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-text-stroke: 1px #000000;
}
